.content {

  text-align: left;
}

input[type=text] {
  width: 300%;
  padding: 26px 26px;
  margin: 16px 0;
  display: inline-block;
  border: 7px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}
